a {
    background-color: rgb(124, 88, 173);
    color: white;
    padding: 5px;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(152, 137, 172);
}