{% extends 'base.html' %}

{% block styles %} <link rel="stylesheet" href="static/welcome.css"> {% endblock %}

{% block title %}Welcome{% endblock %}

{% block header %}<h1>Pool</h1>{% endblock %}

{% block content %}
    <p>Welcome to <span class="special-text">pool</span>, an online transaction processing tool!</p>
    <ul>
        <li><a href="{{ url_for('submit_transaction') }}">Post a transaction</a></li>
        <li><a href="{{ url_for('view_all_transactions') }}">View all transactions</a></li>
    </ul>
{% endblock %}